<p id="notice"><%= notice %></p>

<p>
  <strong>File:</strong>
  <%= @parcel_record.file %>
</p>

<%= link_to 'Edit', edit_parcel_record_path(@parcel_record) %> |
<%= link_to 'Back', parcel_records_path %>
